# Environment variables
.env
.env.local
.env.*.local

# Build and temporary files
/SOURCE CODE/Employee/build/
/SOURCE CODE/Employee/nbproject/private/
"/SOURCE CODE/Employee/nbproject/private/" 
"/SOURCE CODE/Employee/nbproject/private/" 
/SOURCE CODE/Employee/dist/
